/*
  Yabbly In-Car Application Styles

  @author Sam Skjonsberg <sam@yabbly.com>
*/

body.oc-module-view {
  padding: 0;
  background: -webkit-linear-gradient(top, #0076a7 0%, #001f2c 95%);
}

.oc-breadcrumb span {
  padding-left: 50px;
  background: transparent url(../img/icon-small.png) no-repeat scroll 4px 4px;
  box-shadow: none;
  font-family: 'Myriad Pro';
  font-weight: bold;
  margin-right: 0;
}

@font-face {
  font-family: 'yabbly-icons';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon,
.response-count,
.helpful-count {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 100ms linear;
  top: 50%;
  right: 50px;
}

.icon,
.icon-font {
  font-family: 'yabbly-icons';
}

.icon {
  font-size: 142px;
  float: right;
  text-shadow: none;
  line-height: 1;
  margin-top: -71px;
}

  .selected .icon,
  .selected .response-count,
  .selected .helpful-count {
    opacity: 1;
  }

.response-count,
.helpful-count {
  border-radius: 8px;
  line-height: 72px;
  text-align: center;
  width: 72px;
  background-color: #fff;
  color: #001f2c;
  font-size: 1em;
  font-weight: bold;
  margin-top: -36px;
  text-shadow: none;
  right: 100px;
}

.helpful-count {
  width: auto;
  background-color: #001f2c;
  color: #fff;
  padding: 0 52px 0 20px;
  -webkit-transition: background-color 200ms linear;
}

.is-helpful .helpful-count {
  background-color: #e85a1f;
}

.helpful-count .icon-font {
  font-size: 52px;
  line-height: 1;
  position: absolute;
  top: 50%;
  margin-top: -26px;
  right: 11px;
}

#view-container {
  -webkit-transition: -webkit-transform 50ms;
}

#view-container.once-left {
  -webkit-transform: translateX(-100%);
}

#view-container.twice-left {
  -webkit-transform: translateX(-200%);
}

.view,
#view-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#question-detail-view {
  left: 100%;
}

#question-detail-view .oc-listview li .text {
  margin-right: 225px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

#question-detail-view .oc-listview li .username {
  display: inline-block;
  margin-right: 12px;
  background-color: #001f2c;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 0.7em;
  line-height: 2;
  text-shadow: none;
}

#question-detail-view .oc-listview li img {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -20px;
}

#response-detail-view {
  left: 100%;
}

.oc-listview li {
  position: relative;
}
